body {
    margin: 0;
    padding: 0;
    background-image: url('c1.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  .color-palette {
    display: flex;
    gap: 20px;
    margin-bottom: -300px;
    margin-left: 300px;
    position:absolute;
    top:200px;
    left:250px;
  }
  
  .color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #canvas {
    border: 2px solid black;
    transform: translate(-50%,-50%);
    position:absolute;
    top:60%;
    left:50%;
  }