body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  content > h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #name-input {
    border: 2px solid #93f38e;
    padding: 10px;
    width: 220px;
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4cb568; 
  }
  html {
    height:100%;
}
 
body {
    margin:0;
}
 
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
 
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
 
.bg3 {
    animation-duration:5s;
}
 
.content {
    background-color:rgb(239, 243, 150,0.7);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    border-radius: 20%;
    padding-top: 30%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);

}
 
h1 {
    font-family:monospace;
}

 
@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
 
    100% {
        transform:translateX(25%);
    }
}
.imgc {
    width: 200px;
    height: 200px;
    text-align: center;
}
.imgc img {
    
    width: 200px;
    margin-bottom: 20px;
    padding-left: 170%;
    padding-right: 10%;
}

.button-90 {
    color: #fff;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: #438dcd;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    cursor: pointer;
  }
  .ques {
    position: absolute;
    width: 250px;
    border: 5px solid #fcfeff;
    padding: 50px 0px;
    margin: 30px auto;
    border-radius: 80%;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    font-family: arial;
    position: relative;
    color: #ffffff;
    bottom:250px;
    left:0px;
  }